@import 'guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 620px;
	height: 420px;
	font-family: $primary-font;
	border-radius: 20px;
	box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
}

// Result Section
.score {
	padding: 35px;
	text-align: center;
	color: $white;
	background-image: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
	border-radius: 20px;
}
.score__info {
	@include flexbox(column, null, center, 25px);
	height: 100%;
}
.score__title {
	margin: 0;
	font-size: $md-size;
	font-weight: bold;
	color: $light-lavender;
}
.score__circle {
	@include flexbox(column, center, center, null);
	width: 150px;
	height: 150px;
	background-image: linear-gradient(to bottom, $violet-blue, $light-royal-blue, $persian-blue);
	border-radius: 100%;
}
.circle--user-percentage {
	font-size: $lg-size;
	font-weight: bold;
	margin: 0;
}
.circle__total-percentage {
	margin: 0;
	font-size: $sm-size;
	color: $light-lavender;
}
.score__text {
	@include flexbox(column, center, center)
}
.score__text-range {
	font-size: $md-size;
	font-weight: bold;
	margin: 0;
}
.score__text-lavender {
	width: 85%;
	font-size: $sm-size;
	color: $light-lavender;
}

// Sumary Section
.summary {
	@include flexbox(column, space-between, null, 10px);
	padding: 35px;
}
.summary__title {
	font-size: $md-size;
	font-weight: bold;
	margin-top: 0;
}
.summary__item {
	@include flexbox(row, null, center);
	height: 40px;
	padding: 6px 5px;
	border-radius: 5px;
	p {
		padding-left: 5px;
		margin: 0;
		font-size: $sm-size;
		font-weight: bold;
	}
	span {
		margin-left: auto;
		font-size: $sm-size;
		color: $dark-gray-blue;
	}
}
.red-item {
	background: $light-red;
	p {
		color: hsl(0, 100%, 67%);
	}
}
.yellow-item {
	background: $orangey;
	p {
		color: hsl(39, 100%, 56%,);
	}
}
.green-item {
	background: $teal-green;
	p {
		color: hsl(166, 100%, 37%);
	}
}
.blue-item {
	background: $cobalt-blue;
	p {
		color: hsl(234, 85%, 45%);
	}
}
.summary__btn {
	height: 40px;
	margin-top: 20px;
	padding: 10px;
	font-weight: bold;
	color: $white;
	background-color: $dark-gray-blue;
	border: none;
	border-radius: 20px;
	&:hover {
		cursor: pointer;
	}
	&:active {
		background-image: linear-gradient(to bottom, $light-slate-blue, $light-royal-blue);
	}
}
